a {
   text-decoration: none;
   color: inherit;
   outline: none;
}
.header {
   background: linear-gradient(to right, #3b82f6, #6366f1);
   color: #fff;
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      padding: 18px 2.4rem;
   }
   &__logo {
      font-size: 1.5rem;
      font-weight: 700;
   }
}

.navbar {
   &__list {
      display: flex;
      align-items: center;
   }
   &__items--link {
      padding: 1rem;
      transition: color 0.3s;
   }
}
